.word-row{
  display: flex;
  justify-content: center;
  margin: 5px;

  &.-wrong-answer{
    border: solid 1px;
  }


  &__letter {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  
    &.correct{
      background-color: green;
    }
    
    &.present{
      background-color: gold;
    }
    
    &.absent{
      background-color: lightgray;
    }

    &.space{
      background-color: transparent;
    }
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  15% { transform: translateX(-5px); }
  30% { transform: translateX(5px); }
  45% { transform: translateX(-5px); }
  60% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  90% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}
  